@charset "UTF-8";

#sub_img_member{
	width: 971px;
	height: 179px;	
	background-image: url("../images/member/sub_back.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#join{
	width: 670px;
	margin: 10px 0px 0px 0px;
}

#join fieldset{
	border: none;	/* fieldset태그에 의해서 생성된 그룹 경계선을 제거 */
	padding: 10px 0px 20px 5px;
}

#join fieldset legend{
	font-size: 20px;
	border-bottom: 1px dotted #666;	/* 그룹제목 밑에 밑줄 점선 두께 1px, 점선 색 지정 */
	width: 600px;
	padding: 5px 0px;	/* 상하 안여백을 5px, 좌우 안여백을 0px */
}

#join label{
	width: 140px;
	float: left;
	margin: 5px 0px;	/* 같은줄의 input박스는 margin이 없어서 깨짐 */
}

#join input{
	margin: 5px 0px;	/* 여기서 위의 문제가 해결됨 */
	border: 1px solid #999;
	background-color: #FCFDEA;	/* 16진수 색상코드를 영문 소문자or대문자로 해도 된다 */
}

#join .id{
	width: 100px;
	height: 18px;
}

#join .dup{
	width: 120px;
	height: 23px;
	border-radius: 8px;
	border: none;	/* 테두리 없어짐 */
	margin: 0px 0px 0px 5px;
	font-weight: bold;	/* 버튼위에 출력되는 문자를 진하게 */
	color: #FFF;
	background-image: url("../images/member/dup.jpg");
	background-image: repeat-x;
	background-position: center center;
}

#join .pass{
	width: 150px;
	height: 18px;
}

#join .nick{
	width: 80px;
	height: 18px;
}

#join .email{
	width: 200px;
	height: 18px;
}

#join .address{
	width: 300px;
	height: 18px;
}

#join .phone{
	width: 180px;
	height: 18px;
}

#buttons {
	margin: 20px 0px 0px 0px;
}

#buttons .submit, #buttons .cancel{
	height: 30px;
	width: 150px;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #ccc;	/* css3에서 추가된 속성으로 그림자 효과를 줌 */
	font-size: 14px;
}

#buttons .submit{
	background-image: url("../images/member/submit_back.jpg");
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
}

#buttons .cancel{
	background-image: url("../images/member/cancel_back.jpg");
	background-reapeat: repeat-x;
	background-position: center center;
	margin-left: 20px;	/* 바깥 왼쪽 여백을 20px로 지정해서 submit버튼과 간격을 벌린다 */
}













